@import url('https://fonts.googleapis.com/css2? family= Lora:ital@0;1 & family= Montserrat:wght@300;400 & display=swap');

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: linear-gradient(to right bottom, #16a0dc, #52a9df, #73b3e1, #8dbde4, #a5c7e6, #a0c0e0, #9bbadb, #96b3d5, #769ac6, #5780b7, #3668a7, #015097);
}


.navbar {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid white;
    background-color: #62A1FF;
    margin: 0px 0px 3px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 65%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul :hover {
    color: rgba(37, 108, 216, 0.719);
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.3);
    transition: all 0.3s;
}

a {
    color: white;
    text-decoration: none;
}

/* .navbar .container ul h1{
    
} */

/* Estilizando somente o container - vai ser a estilização padrão*/
.container {
    display: flex;
    width: 50%;
    margin: auto;
}


/* estilização do corpo da página*/

.corpo {
    display: flex;
    width: 100%;
    height: 750px;
    margin-top: 2%;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.804359243697479) 0%, rgba(255,255,255,0.29735644257703087) 40%, rgba(0,0,0,0.70) 82%), url(../assets/imgs/Taylor\ Swift\ 1989\ Computer\ Wallpaper.jpg);

}

.corpo .titulo {
    margin-top: 4%;
    display: flex;
    color: rgb(56, 205, 250);
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80%;
    font-size: 30px;
    text-shadow: 2px 2px 5px rgba(51, 46, 46, 0.719);
}


.corpo .titulo img{
    display: flex;
    margin-top: 8%;
    width: 90%;
    height: 60%;

}

.corpo .container .texto {
    display: flex;
    width: 100%;
    height: 30%;
    margin-top: 15%;
    flex-direction: row;
    font-size: 24px;
    text-indent: 8px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 1.2px;
    text-shadow: 2px 2px 5px rgba(70, 63, 63, 0.719);
    color: white;
}
/* Fim estilização do corpo */


/* Inicio estilização das eras */
.erasTaylor {
   display: flex;
   height: 600px;
}

.erasTaylor .eras {
    display: flex;
    width: 50%;

}

.erasTaylor .eras .sobreEras {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 40px;
    font-size: 22px;
    text-indent: 5px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 1.0px;
    text-shadow: 2px 2px 5px rgba(70, 63, 63, 0.719);

}

.cards {
    display: flex;
    width: 50%;
    background-color:#629abe;
}

.card {
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card .cardAlbuns {
    display: flex;

    align-items: center;
    justify-content: center;
}

.card .cardAlbuns img {
    display: flex;
    width: 140px;
    height: 120px;
}

.card .cardAlbuns img:hover {
    cursor: pointer;
    box-shadow: 5px 10px 25px white;
    text-decoration: underline white;
    transform: scale(1.1);
    transition: all 0.6s;
}

/* Iniciiiioio da estização do quiz*/
.corpo-quiz {
    display: flex;
    width: 100%;
    height: 600px;
    border-bottom: 2px solid white;

}

.corpo-quiz .card-titulo{
    background-color:rgba(39, 90, 148, 0.829);
    width: 50%;


}
.corpo-quiz .titulo {
    display: flex;
    width: 90%;
    margin-top: 15%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 22px;
    text-indent: 5px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1.0px;
    text-shadow: 2px 2px 5px rgba(70, 63, 63, 0.719);
    color: white;


}


.corpo-quiz .container-banner {
    display: flex;
    width: 50%;
    background-image: linear-gradient(90deg, rgba(0,0,0,0.804359243697479) 0%, rgba(255,255,255,0.29735644257703087) 40%, rgba(0,0,0,0.70) 82%), url(../assets/imgs/reputation\ aesthetic\ collage\ background.jpg);
}

.corpo-quiz .container-banner .container{
    display: flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(70, 63, 63, 0.719);
    color: white;
    font-size: 22px;
}

.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.botao button {
    font-size: 30px;
    width: 150px;
    border-radius: 20px;
    background-image: linear-gradient(to right bottom, #16a0dc, #52a9df, #73b3e1, #8dbde4, #a5c7e6, #a0c0e0, #9bbadb, #96b3d5, #769ac6, #5780b7, #3668a7, #015097);
    color: white;
}

button:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.3s;
}

.footer {
    height: 70px;
    width: 100%;
    background-color: #62A1FF;
    color: #fff;
    display: flex;
}

.footer h4 {
    margin: 0;
}

.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100%;
    width: 100%;
    margin: 0;
}

.footer .container .contatos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
}

