body {
    margin: 0;
    background-image: url(../assets/rm428-0026.jpg);
    background-size: cover;

}

.navbar {
    font-family: 'Lora', serif;
    border-bottom: 2px solid white;
    background-color: #62A1FF;
    margin: 0px 0px 3px 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 60%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul :hover {
    color: rgba(37, 108, 216, 0.719);
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.3);
    transition: all 0.3s;
}

/* estilizando os campos */
.campos {
    display: flex;
    width: 100%;
    margin-top: 100px;
    overflow-y: hidden;
}


.campos .box {
    display: flex;
    background-image: linear-gradient(to right bottom, #015097, #3668a7, #5780b7, #769ac6, #96b3d5, #9bbadb, #a0c0e0, #a5c7e6, #8dbde4, #73b3e1, #52a9df, #16a0dc);
    width: 40%;
    height: auto;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 30%;
    border-radius: 20px;
}

.cadastro input {
    width: 18vw;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    margin: 3px;
    border: 1px solid black;
}

.cadastro i {
    position: absolute;
    margin: 10px
}


.campos .box h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: #62A1FF;
    font-weight: bold;
}


.campos .box button {
    margin-top: 2%;
    width: 35%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

.box button:hover {
    color: rgb(30, 13, 181);
    font-weight: bold;
    cursor: pointer;
}

a{
    color: rgb(29, 40, 136), 255;
    text-decoration: none;
}