@import url('https://fonts.googleapis.com/css2? family= Lora:ital@0;1 & family= Montserrat:wght@300;400 & display=swap');

body {
    margin: 0;
    overflow-x: hidden;
    /* background-image: linear-gradient(to right top, #62a1ff, #6aa2fb, #71a4f6, #78a5f2, #7ea6ed, #76aff2, #6fb7f6, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
    /* background-image: linear-gradient(to right top, #62a1ff, #78aafb, #8bb2f8, #9cbbf4, #adc4f0, #abc3ef, #aac3ef, #a8c2ee, #93b7f0, #7badf2, #5ea3f4, #3499f6); */
    background-image: linear-gradient(to right bottom, #104fac, #245ebb, #346dcb, #427cda, #508cea, #5e99f0, #6ca6f6, #7bb3fb, #90bff7, #a6cbf3, #bed6ef, #d6e1eb);
    font-family: 'Montserrat', sans-serif;

}


.navbar {
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid white;
    background-color: #62A1FF;
    margin: 0px 0px 3px 0px;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar .container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .container ul {
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 65%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul :hover {
    color: rgba(37, 108, 216, 0.719);
    cursor: pointer;
    text-decoration: underline;
    transform: scale(1.3);
    transition: all 0.3s;
}

/* .navbar .container ul h1{
    
} */

/* Estilizando somente o container - vai ser a estilização padrão*/
.container {
    display: flex;
    width: 80%;
    margin: auto;
}


/* estilização do corpo da página*/
.corpo {
   
    background-size: cover;
    display: flex;
    width: 100%;
    height: 800px;

}

.corpo .container .texto {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 50px;
    box-shadow: 5px 10px 20px rgb(165, 48, 140);
    width: 45%;
    height: 350px;
    text-align: center;
}

.corpo .container .texto h2 {
    color: rgb(80, 29, 100);
    font-size: 52px;
    text-shadow: 2px 2px 5px rgba(70, 63, 63, 0.719);
    text-decoration-line: underline;
    text-decoration-color: rgb(142, 68, 172);
    text-decoration-style: wavy;
}

.corpo .container .texto p {
    font-size: 28px;
    text-indent: 10px;
    letter-spacing: 1.2px;
    line-height: 1.2;
    text-align-last: center;

}

/* Fim estilização do corpo */

/* Inicio estilização das eras */

.eras {
    display: flex;
    width: 100%;
    height: auto;

}

.eras .sobreEras {
    display: flex;
    padding-top: 1%;
    width: 100%;
    height: 120px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    background-image: url(../assets/fundoSite.jpg);
    background-size: cover;
}

.eras .sobreEras h2 {
    font-size: 30px;
    color: white;
}

.eras .sobreEras p{
    font-size: 20px;
    
}

.card {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;


}

.card .cardAlbuns {
    display: flex;
    height: 300px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   
}

.card .cardAlbuns img{
    display: flex;
    width: 200px;
    height: 200px;
}

.card .cardAlbuns img:hover{
    cursor: pointer;
    box-shadow: 5px 10px 25px  white;;
    text-decoration: underline white;
    transform: scale(1.4);
    transition: all 0.6s;
}

/* Iniciiiioio da estização do quiz*/
.quiz {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.quiz .sobreQuiz {
    display: flex;
    width: 90%;
    flex-direction: column;  
}
